.galeria-div {
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    position: relative;
    background-size: cover;
    background-position: center;
    padding: 20px;
}

.sections {
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.section {
    cursor: pointer;
    padding: 8px 15px;
    border: 1px solid #fff;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.section:hover, .section.active {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}

.content {
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    overflow: hidden;
    position: relative;
}

.img-container {
    position: relative;
    overflow: hidden;
}

.img-fluid {
    border-radius: 5px;
    transition: transform 0.3s, opacity 0.3s;
    width: 100%;
    height: auto;
}

.img-container:hover .img-fluid {
    transform: scale(2);
    z-index: 10;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.4);
}
