.menus-div {
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    position: relative;
    background-size: cover;
    background-position: center;
    padding: 20px;
}

.section {
    margin-right: 1rem;
    margin-left: 1rem;
}

